<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{index (pageName='example-crud-eager')}">
<head>
    <meta charset="UTF-8">
    <title>Example CRUD Eager</title>
</head>
<body>
<div th:id="${pageConfig.fragments.page}" class="layout-long" layout:fragment="content" th:fragment="pageFragment">
    <div th:if="${submitErrorShow}">
        <div th:replace="~{core/component/submit-error :: error (${submitErrorMessageKey})}"></div>
    </div>
    <div th:id="${pageConfig.fragments.form}" class="mb-4" th:fragment="formFragment">
        <h4 class="mb-4" th:text="#{example.crud.eager}">Example CRUD Eager</h4>
        <form th:id="${pageConfig.components.form}" th:action="@{__${formAction}__}" th:object="${formObject}">
            <input type="number" class="d-none" th:id="${pageConfig.dtoFields.id}" th:name="${pageConfig.dtoFields.id}" th:value="*{id}"/>
            <div class="form-row form-group">
                <div class="row col-6" th:insert="~{core/component/form/input/input-textbox :: text (${pageConfig.dtoFields.name},
                                                                                                     #{example.name},
                                                                                                     false,
                                                                                                     true)}">
                </div>
            </div>
            <div class="form-row form-group">
                <div class="row col-6" th:insert="~{core/component/form/input/input-select-str :: select (${pageConfig.dtoFields.visibility},
                                                                                                          #{example.visibility},
                                                                                                          ${pageConfig.selectOptions.visibility},
                                                                                                          *{__${pageConfig.dtoFields.visibility}__},
                                                                                                          true)}">
                </div>
            </div>
            <div class="form-row form-group">
                <div class="row col-6" th:insert="~{core/component/form/input/input-date :: date (${pageConfig.dtoFields.createDate},
                                                                                                  #{example.create-date},
                                                                                                  true)}">
                </div>
            </div>
            <div class="form-row form-group">
                <div class="row col-6" th:insert="~{core/component/form/input/input-select-obj :: select (${pageConfig.dtoFields.exampleConfigTypeValue},
                                                                                                          #{example.example-config-type},
                                                                                                          ${pageConfig.selectOptions.exampleConfigType},
                                                                                                          *{__${pageConfig.dtoFields.exampleConfigTypeValue}__},
                                                                                                          true)}">
                </div>
            </div>
            <div class="form-row form-group">
                <div class="row col-6" th:insert="~{core/component/form/input/input-checkbox :: checkbox (${pageConfig.dtoFields.active},
                                                                                                          #{example.active},
                                                                                                          false,
                                                                                                          true)}">
                </div>
            </div>
            <div th:replace="~{core/component/form/crud-form-buttons :: buttons (${formMode.name()},
                                                                                 ${pageConfig.buttons.create},
                                                                                 ${pageConfig.buttons.saveEdit},
                                                                                 ${pageConfig.buttons.cancelEdit})}">
            </div>
        </form>
    </div>
    <div th:id="${pageConfig.fragments.table}" th:fragment="tableFragment">
        <table th:id="${pageConfig.components.table}">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col" class="table-col-centered text-center" th:text="#{example.name}">Name</th>
                <th scope="col" class="table-col-centered text-center" th:text="#{example.visibility}">Visibility</th>
                <th scope="col" class="table-col-centered text-center" th:text="#{example.create-date}">Create Date</th>
                <th scope="col" class="table-col-centered text-center" th:text="#{example.example-config-type}">Config Type</th>
                <th scope="col" class="table-col-centered text-center" th:text="#{example.active}">Active</th>
            </tr>
            </thead>
        </table>
    </div>
    <div th:replace="~{core/component/modal-confirmation :: modal (${pageConfig.components.confirmationModal},
                                                                   #{modal.confirmation.delete.title},
                                                                   #{modal.confirmation.delete.text})}">
    </div>
</div>
</body>
<th:block layout:fragment="scripts">
    <script th:inline="javascript">
        $(document).ready(() => exampleCrudEagerController.init([[${pageConfig}]]));
    </script>
</th:block>
</html>