<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Default page template</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/webjars/bootstrap-table/dist/bootstrap-table.min.css"/>
    <link rel="stylesheet" href="/webjars/font-awesome/css/all.min.css"/>
    @app.css@
</head>
<body>
<div th:replace="~{core/navigation :: navbar}"></div>
<main role="main" class="container">
    <div layout:fragment="content">
        Page content goes here
    </div>
</main>
<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/popper.js/umd/popper.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<script src="/webjars/bootstrap-table/dist/bootstrap-table.min.js"></script>
@app.js@
<th:block layout:fragment="scripts"></th:block>
</body>
</html>