<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CRUD Form buttons</title>
</head>
<body>
<div th:fragment="buttons (formMode,createBtnId,saveEditBtnId,cancelEditBtnId)" th:remove="tag">
    <div th:if="${formMode == 'CREATE'}">
        <button type="submit" class="btn btn-sm btn-primary"
                th:id="${createBtnId}" th:text="#{button.create}">Create
        </button>
    </div>
    <div th:if="${formMode == 'EDIT'}">
        <button type="submit" class="btn btn-sm btn-primary"
                th:id="${saveEditBtnId}" th:text="#{button.save}">Save
        </button>
        <button type="button" class="btn btn-sm btn-primary" onclick="appCrudController.cancelEditRecord()"
                th:id="${cancelEditBtnId}" th:text="#{button.cancel}">Cancel
        </button>
    </div>
</div>
</body>
</html>